@charset "UTF-8";
html,
body {
  height: 100% !important;
  width: 100% !important;
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif !important;
}

.container {
  max-width: none !important;
  padding-right: 0 !important;
  padding-top: 2.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900 !important;
}

.header {
  background: url(/img/background_header.png) no-repeat center center;
  background-size: cover;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 7rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.logo {
  width: auto;
}

.logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 140px;
  text-decoration: none;
}

.logo h1 {
  color: #fff;
  margin-right: 4px;
}

.logo h5 {
  color: #3e3f45;
  font-size: 9px !important;
}

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-list a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  font-size: 24px !important;
  position: relative;
  display: inline-block;
  line-height: 1.5;
  padding-bottom: 5px;
}

.header-list a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-image: url("../img/blue_line.png");
  background-position: center;
  background-size: 100% 100%;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header-list a:hover::after {
  opacity: 1;
  /* Показуємо при наведенні */
}

.header-burger {
  display: none;
}

@-webkit-keyframes burger_anim_open {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    height: 35%;
    opacity: 1;
  }
}

@keyframes burger_anim_open {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    height: 35%;
    opacity: 1;
  }
}

@-webkit-keyframes burger_anim_close {
  0% {
    height: 35%;
    opacity: 1;
  }
  100% {
    height: 0;
    opacity: 0;
  }
}

@keyframes burger_anim_close {
  0% {
    height: 35%;
    opacity: 1;
  }
  100% {
    height: 0;
    opacity: 0;
  }
}

.nav_burger {
  display: none;
  position: absolute;
  height: 0;
  top: 80px;
  left: 0;
  overflow: auto;
  opacity: 0;
  z-index: 1000;
}

@media (max-width: 1300px) {
  .menu {
    padding: 0 3rem;
  }
}

@media (max-width: 940px) {
  .menu {
    padding: 0 2rem;
  }
  .header-burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
  }
  .header-burger span {
    position: absolute;
    left: 0;
    top: 9px;
    background-color: #fff;
    width: 100%;
    height: 2px;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }
  .header-burger:before,
  .header-burger:after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }
  .header-burger:before {
    top: 0;
  }
  .header-burger.active:before {
    -webkit-transform: rotate(765deg);
            transform: rotate(765deg);
    top: 9px;
  }
  .header-burger:after {
    bottom: 0;
  }
  .header-burger.active:after {
    -webkit-transform: rotate(-765deg);
            transform: rotate(-765deg);
    bottom: 9px;
  }
  .header-burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header-menu {
    display: none;
  }
  .block {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav_burger.active {
    -webkit-animation: burger_anim_open 0.4s forwards;
            animation: burger_anim_open 0.4s forwards;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: auto;
    width: 100%;
    margin-top: 1rem;
    background-color: #3e3f45;
  }
  .header-list-active {
    text-align: center;
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .header-list-active li {
    margin: 0.77rem 0;
  }
  .header-list-active a {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
  }
}

@media (max-width: 600px) {
  .header .container {
    margin: 0 35px;
  }
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 1rem 0 0 -2rem;
}

.phone-img {
  overflow: hidden;
}

.content-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  color: #fff;
  margin-top: 1rem;
}

.content-text .title, .details-text .title, .A, .plans-title .AA {
  color: #008ed6;
  margin: 0 0 2rem -0.1rem;
  font-size: 18px;
}

.content-text .title-text {
  font-size: 40px;
  line-height: 1em;
  margin-bottom: 2rem;
}

.content-text .text {
  color: gray;
  font-size: 18px;
  margin-bottom: 6rem;
}

.buttons button, .after-buttons button, .card-body .order_now {
  background-color: transparent;
  border: 2px solid #3e3f45;
  margin: 0 0.5rem 0 0;
  height: auto;
}

.buttons button:hover, .after-buttons button:hover {
  background-color: #008ed6;
  border: 2px solid #008ed6;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.buttons button a {
  display: block;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 50px;
  width: 200px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 900;
  color: #fff;
}

.buttons button:active {
  background-color: #008ed6;
  border: 2px solid #008ed6;
  -webkit-transition: all 0.03s ease;
  transition: all 0.03s ease;
}

@media (max-width: 940px) {
  .content {
    display: block;
    padding: 0;
    margin: 0;
  }
  .content-text {
    display: block;
    width: 100%;
    padding: 0 0 0 2rem;
  }
  .content-text .title,
  .content-text .title-text {
    margin-bottom: 0.5rem;
  }
  .content-text .text {
    margin-bottom: 2rem;
  }
  .buttons {
    margin-bottom: 1rem;
  }
  .phone-img {
    display: none;
  }
}

@media (max-width: 768px) {
  .content-text {
    padding: 0 1rem;
  }
  .menu {
    padding: 0 1rem;
  }
}

.main {
  width: 100%;
}

.features {
  width: 100%;
}

.main .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
  line-height: 3rem;
}

.main .title-in {
  font-size: small;
  color: #008ed6;
  word-spacing: 0.3rem;
}

.main .title-title {
  font-size: 32px;
}

.features-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(300px, 1fr) 0 minmax(300px, 1fr) 0 minmax(300px, 1fr) 0 minmax(300px, 1fr);
  grid-template-columns: repeat(4, minmax(300px, 1fr));
  grid-gap: 30px 0;
  margin: 0 15rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1300px) {
  .features-content {
    -ms-grid-columns: minmax(300px, 1fr) 0 minmax(300px, 1fr);
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }
}

@media (max-width: 850px) {
  .features-content {
    -ms-grid-columns: minmax(300px, 1fr);
    grid-template-columns: repeat(1, minmax(300px, 1fr));
  }
}

@media (max-width: 600px) {
  .container {
    margin: 0 !important;
  }
  .features-content {
    margin: 0 5rem;
  }
}

@media (max-width: 500px) {
  .menu {
    padding: 0 !important;
  }
  .content-text {
    padding: 0;
  }
}

.features-content .features-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features-content .img-block {
  height: 90px;
  width: 90px;
  border: 1.5px solid #e5e5e5;
  border-radius: 50%;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.features-in:hover > .img-block {
  border: 1.5px solid #008ed6;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.features-content label {
  margin: 1.5rem 0 1rem;
  letter-spacing: 0.1rem;
  font-size: 30px;
}

.features-content .content-in {
  text-align: center;
  font-size: 16px;
  color: #b4b4b4;
}

.features hr {
  width: 100%;
  margin-top: 7rem;
}

.details, .details1 {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: -10rem;
}

.details-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25%;
  margin-left: 5rem;
}

.details-text .title {
  margin: 0;
  margin: 1rem 0 -1rem;
  font-size: 14px;
}

.details-text > img {
  margin: 1rem 0 1rem;
}

.details-text .details-content {
  color: gray;
}

.items {
  margin-top: 1.5rem;
  line-height: 2rem;
}

.items .item > span {
  margin-left: 1rem;
  color: #3e3f45;
}

.items .item.item2 {
  margin-left: 0.2rem;
}

.items .item.item2 > span {
  margin-left: 1.2rem;
}

.details1 {
  padding-left: 13rem;
  margin-top: .4em;
  background-color: #f5f7f9;
}

.details1 .details-text {
  margin-left: 0;
}

@media (max-width: 980px) {
  .details,
  .details1 {
    margin-left: 0;
  }
  .details > img {
    display: none;
  }
  .details .details-text {
    margin: 0 1.5rem 0 1.5rem;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .details1 {
    padding: 0;
  }
  .details1 > img {
    display: none;
  }
  .details1 .details-text {
    width: 100%;
    margin: 0 1.5rem 0 1.5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.slider {
  background: url(/img/background_slick.png);
  background-size: cover;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2rem 0 0;
  margin: 0 auto;
}

.slider-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.A {
  margin: 0 0 .5rem 0;
  font-size: 12px;
}

.B {
  color: #fff;
  font-size: 32px;
  margin: 0 0 .5rem 0;
}

.C {
  margin: .5rem 0 4rem 0;
}

.swiper {
  width: 85%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.swiper-slide {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.content2 {
  padding-left: .5rem;
}

.content1,
.content2 {
  width: 50%;
}

.img-content {
  margin-top: 1rem;
}

.author-lego {
  margin-right: .5rem;
}

.author-lego,
.author {
  color: #fff;
  font-size: 18px;
  font-style: italic;
}

.img-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 1.5rem;
  color: #fff;
}

.A1 {
  font-style: italic;
  font-size: 12px;
}

.A2 {
  font-size: 14px;
}

.swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative !important;
  bottom: unset !important;
  padding: 1.5rem 0 2rem;
}

.swiper-pagination-bullet {
  opacity: unset !important;
  border: .5px solid #b4b4b4;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.swiper-pagination-bullet-active {
  width: 15px !important;
  height: 15px !important;
  background-color: #fff !important;
}

.slider-after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
  height: 100px;
}

.slider-after .text-after {
  color: #fff;
  font-size: 28px;
}

.slider-after .text-after > span {
  font-family: serif;
}

.slider-after .text-after .text {
  font-weight: 900;
}

.after-buttons button {
  height: 45px;
}

.after-buttons button a {
  text-decoration: none;
  color: #fff;
  padding: 1rem;
}

@media (max-width: 450px) {
  .slider-after {
    height: 170px;
  }
  .slider-after .text-after {
    font-size: 20px;
  }
  .after-buttons button a {
    padding: 0;
  }
}

@media (max-width: 415px) {
  .after-buttons button a {
    font-size: 12px;
  }
}

.plans-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  line-height: 2rem;
}

.plans-title .AA {
  margin-bottom: 0;
  font-size: 12px;
}

.plans-title .BB {
  font-size: 32px;
  margin-bottom: .5rem;
}

.plans-title .CC {
  margin-bottom: 3rem;
}

.plans-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(300px, 1fr) 40px minmax(300px, 1fr) 40px minmax(300px, 1fr) 40px minmax(300px, 1fr);
  grid-template-columns: repeat(4, minmax(300px, 1fr));
  grid-gap: 40px;
  margin: 0 15rem;
}

@media (max-width: 1750px) {
  .plans-content {
    margin: 0 5rem;
  }
}

@media (max-width: 1420px) {
  .plans-content {
    margin: 0 2rem;
    grid-gap: 40px 10px;
  }
}

@media (max-width: 1300px) {
  .plans-content {
    -ms-grid-columns: minmax(300px, 1fr) 10px minmax(300px, 1fr);
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }
}

@media (max-width: 850px) {
  .plans-content {
    -ms-grid-columns: minmax(200px, 1fr);
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
}

.card {
  margin-bottom: 4rem;
}

.card-body {
  text-align: center;
  padding: 0 !important;
}

.card-body .card-title {
  padding-top: 1rem;
  font-size: 26px;
  font-weight: 500;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card-body hr {
  margin: 0;
}

.card-body .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 150px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card-body .price > h1 {
  font-weight: normal !important;
  font-size: 60px;
  margin: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card-body .price > h1 .currency {
  font-size: 31px;
}

.card-body .price > p {
  opacity: 0.4;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card-body .trial {
  margin: 0 0 3rem 0;
}

.card-body > p {
  padding: 0 3rem 3rem 3rem;
}

.card-body > p > span {
  color: #008ed6;
}

.card-body:hover .card-title {
  color: #008ed6;
}

.card-body:hover .price {
  background-color: #008ed6;
}

.card-body:hover .price h1 {
  color: #fff;
}

.card-body:hover .price > p {
  color: #fff;
  opacity: 1;
}

.card-body .order_now {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 1px solid #b4b4b4;
  margin-bottom: 2rem;
  height: 50px;
  width: 50%;
  border-radius: 5px;
}

.card-body .order_now:hover {
  background-color: #008ed6;
  border: 1px solid #008ed6;
}

.card-body .order_now:hover > a {
  color: #fff;
}

.card-body .order_now > a {
  text-decoration: none;
  color: #008ed6;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 350px) {
  .card-body > p {
    padding: 0 1rem 1rem 1rem;
  }
}

.touch .touch-content .phone > img, .touch .touch-content .location > img {
  margin-bottom: 1.5rem;
}

.touch {
  padding: 2rem 0 3rem 0;
  background-color: #f5f7f9;
  padding-bottom: 21rem;
}

.touch .touch-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 2.2rem;
}

.touch .touch-title .title1 {
  color: #008ed6;
  font-size: 14px;
}

.touch .touch-title > span {
  background-color: transparent;
  border: 0;
  font-size: 32px;
}

.touch .touch-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(140px, 1fr) 0 minmax(140px, 1fr) 0 minmax(140px, 1fr);
  grid-template-columns: repeat(3, minmax(140px, 1fr));
  grid-gap: 30px 0;
}

.touch .touch-content .phone {
  text-align: center;
  line-height: 10px;
}

.touch .touch-content .phone > button, .touch .touch-content .phone > p {
  opacity: 0.3;
  padding-bottom: 1rem;
}

.touch .touch-content .phone > button {
  background-color: transparent;
  border: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.touch .touch-content .phone > button:hover {
  opacity: 1;
}

.touch .touch-content .location {
  text-align: center;
  line-height: 10px;
}

.touch .touch-content .location > p {
  opacity: 0.3;
}

.touch .touch-content .email {
  text-align: center;
  line-height: 10px;
}

.touch .touch-content .email > img {
  margin-bottom: 2rem;
}

.touch .touch-content .email > button {
  background-color: transparent;
  border: 0;
  opacity: 0.3;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.touch .touch-content .email > button:hover {
  opacity: 1;
}

@media (max-width: 530px) {
  .touch-content {
    -ms-grid-columns: none !important;
    grid-template-columns: none !important;
  }
}

.no_modal {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.no_modal .modal-content {
  background-color: #000;
  padding: 50px;
  border-radius: 0;
  width: 100%;
  max-width: 800px;
  position: relative;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.no_modal .modal-content form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.no_modal .modal-content form .feedbackDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 15px;
  margin-bottom: 1.5rem;
}

.no_modal .modal-content form .feedbackDiv .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  width: 50%;
}

.no_modal .modal-content form .feedbackDiv .form-group input {
  width: 100%;
  padding: 15px;
  background: transparent;
  color: white;
  font-size: 16px;
  border: 1px solid #3e3f45;
}

.no_modal .modal-content form .feedbackDiv .form-group input::-webkit-input-placeholder {
  color: #fff;
  opacity: 0.3;
}

.no_modal .modal-content form .feedbackDiv .form-group input::-moz-placeholder {
  color: #fff;
  opacity: 0.3;
}

.no_modal .modal-content form .feedbackDiv .form-group input:-ms-input-placeholder {
  color: #fff;
  opacity: 0.3;
}

.no_modal .modal-content form .feedbackDiv .form-group input::-ms-input-placeholder {
  color: #fff;
  opacity: 0.3;
}

.no_modal .modal-content form .feedbackDiv .form-group input::placeholder {
  color: #fff;
  opacity: 0.3;
}

.no_modal .modal-content form .feedbackDiv .form-group input:focus {
  outline: none;
}

.no_modal .modal-content form .feedbackDiv .form-group_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

.no_modal .modal-content form .feedbackDiv .form-group_1 textarea {
  padding: 15px;
  height: 100%;
  width: 100%;
  background: transparent;
  border-color: #3e3f45;
  color: white;
  font-size: 16px;
  min-height: 100px;
  resize: vertical;
}

.no_modal .modal-content form .feedbackDiv .form-group_1 textarea::-webkit-input-placeholder {
  color: #fff;
  opacity: 0.3;
}

.no_modal .modal-content form .feedbackDiv .form-group_1 textarea::-moz-placeholder {
  color: #fff;
  opacity: 0.3;
}

.no_modal .modal-content form .feedbackDiv .form-group_1 textarea:-ms-input-placeholder {
  color: #fff;
  opacity: 0.3;
}

.no_modal .modal-content form .feedbackDiv .form-group_1 textarea::-ms-input-placeholder {
  color: #fff;
  opacity: 0.3;
}

.no_modal .modal-content form .feedbackDiv .form-group_1 textarea::placeholder {
  color: #fff;
  opacity: 0.3;
}

.no_modal .modal-content form .feedbackDiv .form-group_1 textarea:focus {
  outline: none;
}

.no_modal .modal-content form button {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: calc(100% / 3.5);
  padding: 12px;
  background: transparent;
  color: white;
  border: 1px solid #555;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.no_modal .modal-content form button:hover {
  background-color: #008ed6;
  border-color: #008ed6;
}

.feedback-success {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: white;
  padding: 30px;
  border-radius: 5px;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  /* Вище за модалку форми */
  text-align: center;
  max-width: 400px;
  width: 90%;
  max-height: 500px;
}

.feedback-success h3 {
  margin-top: 0;
  color: #008ed6;
}

.feedback-success button {
  background: #008ed6;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 25px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 470px) {
  .no_modal .modal-content {
    padding: 15px;
  }
}

@media (max-width: 390px) {
  .no_modal .modal-content form .feedbackDiv .form-group .input-field input {
    padding: 10px;
  }
  .no_modal .modal-content form .feedbackDiv .form-group .input-field input::-webkit-input-placeholder {
    font-size: 14px;
  }
  .no_modal .modal-content form .feedbackDiv .form-group .input-field input::-moz-placeholder {
    font-size: 14px;
  }
  .no_modal .modal-content form .feedbackDiv .form-group .input-field input:-ms-input-placeholder {
    font-size: 14px;
  }
  .no_modal .modal-content form .feedbackDiv .form-group .input-field input::-ms-input-placeholder {
    font-size: 14px;
  }
  .no_modal .modal-content form .feedbackDiv .form-group .input-field input::placeholder {
    font-size: 14px;
  }
  .no_modal .modal-content form .feedbackDiv .form-group_1 textarea {
    padding: 10px;
  }
  .no_modal .modal-content form .feedbackDiv .form-group_1 textarea::-webkit-input-placeholder {
    font-size: 14px;
  }
  .no_modal .modal-content form .feedbackDiv .form-group_1 textarea::-moz-placeholder {
    font-size: 14px;
  }
  .no_modal .modal-content form .feedbackDiv .form-group_1 textarea:-ms-input-placeholder {
    font-size: 14px;
  }
  .no_modal .modal-content form .feedbackDiv .form-group_1 textarea::-ms-input-placeholder {
    font-size: 14px;
  }
  .no_modal .modal-content form .feedbackDiv .form-group_1 textarea::placeholder {
    font-size: 14px;
  }
  .no_modal .modal-content form button {
    padding: 5px;
    font-size: 12px;
  }
}

.map-container {
  margin: 0;
  border: 0;
  overflow: hidden;
}

.map-container iframe {
  display: block;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
  background-color: #16151B;
}

footer .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.5rem;
}

footer .links a {
  padding: 0 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

footer .links a img {
  width: 25px;
}

footer .footer-text {
  color: #615F65;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

@media (max-width: 420px) {
  footer .links a {
    padding: 0 .6rem;
  }
  footer .footer-text {
    font-size: 12px;
  }
}
