html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
}

.header {
    background: url(../img/background_header.png) no-repeat center top;
    background-size: cover;
    height: auto;
    font-family: 'Source Sans Pro', sans-serif;
    height: 50%;
}

.header .container {
    max-width: 1920px;
    margin: 0px 135px;
    padding: 0px;
}

@media (max-width: 1200px) {
    .header .container {
        max-width: 960px;
    }       
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    width: auto;
}

.logo a {
    display: flex;
    align-items: center;
    width: 140px;
    text-decoration: none;
}

.logo h1 {
    color: #fff;
    
  }

.logo h5 {
    color: #3e3f45;
    font-size: 9px;
  }

.header-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-list a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
}

.header-burger {
    display: none;
}

@keyframes burger_anim_open {
    0% { 
        height: 0; 
        opacity: 0; 
    }

    100% { 
        height: 60%; 
        opacity: 1; 
    }
}

@keyframes burger_anim_close {
    0% { 
        height: 60%; 
        opacity: 1; 
    }

    100% { 
        height: 0; 
        opacity: 0; 
    }
}

.nav_burger {
    display: none;
    height: 0;
    overflow: hidden;
    opacity: 0;
}

@media (max-width: 940px){
    .header .container {
        margin: 0 70px;
    }

    .header-burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
    }

    .header-burger span {
        position: absolute;
        left: 0;
        top: 9px;
        background-color: #fff;
        width: 100%;
        height: 2px;
        transition: all 0.3s ease 0s;
    }

    .header-burger:before, .header-burger:after {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .header-burger:before {
        top: 0;
    }

    .header-burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }

    .header-burger:after {
        bottom: 0;
    }

    .header-burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    } 

    .header-burger.active span {
        transform: scale(0);
    }

    .header-menu {
        display: none;        
    }

    .block {
        width: 100%;
        display: flex;
        justify-content:space-between;
        align-items: center;
    }

    .header-list-active {
        text-align: center;
        list-style: none;
        margin: 0;
        padding: 0;   
    }

    .header-list-active li{
        margin-bottom: 10px;
    }

    .header-list-active a {
        font-size: 20px;
        color: #fff;
        text-decoration: none;
    }

    .nav_burger.active {
        animation: burger_anim_open 0.4s forwards;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-self: center;
        width: 100%;
        background-color: #3e3f45;
    }
}

@media (max-width: 600px) {
    .header .container {
        margin: 0 35px;
    }

}