html, body {
    height: 100% !important;
    width: 100% !important;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif !important;
}

.container {
    max-width: none !important;
    padding-right: 0 !important;
    padding-top: 2.5rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 900 !important;
}

.header {
    background: url(/img/background_header.png) no-repeat center center;
    background-size: cover;
    height: fit-content;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 0 7rem;
    align-items: center;
    width: 100%;
}

.logo {
    width: auto;
}

.logo a {
    display: flex;
    align-items: center;
    width: 140px;
    text-decoration: none;
}

.logo h1 {
    color: #fff;
    margin-right: 4px;
  }

.logo h5 {
    color: #3e3f45;
    font-size: 9px !important;
  }

.header-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-list a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-size: 24px !important;
    position: relative;
    display: inline-block;
    line-height: 1.5;
    padding-bottom: 5px;
}

.header-list a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0; 
    width: 100%;
    height: 2px; 
    background-image: url('../img/blue_line.png');
    background-position: center; 
    background-size: 100% 100%; 
    opacity: 0; 
    transition: all 0.3s ease;
  }
  
.header-list a:hover::after {
    opacity: 1; /* Показуємо при наведенні */
}

.header-burger {
    display: none;
}

@keyframes burger_anim_open {
    0% { 
        height: 0; 
        opacity: 0; 
    }

    100% { 
        height: 35%; 
        opacity: 1; 
    }
}

@keyframes burger_anim_close {
    0% { 
        height: 35%; 
        opacity: 1; 
    }

    100% { 
        height: 0; 
        opacity: 0; 
    }
}

.nav_burger {
    display: none;
    position: absolute;
    height: 0;
    top: 80px;
    left: 0;
    overflow: auto;
    opacity: 0;
    z-index: 1000;
}

@media (max-width: 1300px) {
    .menu {
        padding: 0 3rem;
    }
}

@media (max-width: 940px){
    .menu {
        padding: 0 2rem;
    }

    .header-burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
    }

    .header-burger span {
        position: absolute;
        left: 0;
        top: 9px;
        background-color: #fff;
        width: 100%;
        height: 2px;
        transition: all 0.4s ease 0s;
    }

    .header-burger:before, .header-burger:after {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.4s ease 0s;
    }

    .header-burger:before {
        top: 0;
    }

    .header-burger.active:before {
        transform: rotate(765deg);
        top: 9px;
    }

    .header-burger:after {
        bottom: 0;
    }

    .header-burger.active:after {
        transform: rotate(-765deg);
        bottom: 9px;
    } 

    .header-burger.active span {
        transform: scale(0);
    }

    .header-menu {
        display: none;        
    }

    .block {
        width: 100%;
        display: flex;
        justify-content:space-between;
        align-items: center;
    }

    .nav_burger.active {
        animation: burger_anim_open 0.4s forwards;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: auto;
        width: 100%;
        margin-top: 1rem;
        background-color: #3e3f45;
    }

    .header-list-active {
        text-align: center;
        list-style: none;
        height: 100%;
        margin: 0;   
        padding: 0;   
    }

    .header-list-active li{
        margin: 0.77rem 0;
    }

    .header-list-active a {
        font-size: 24px;
        color: #fff;
        text-decoration: none;
    }
}

@media (max-width: 600px) {
    .header .container {
        margin: 0 35px;
    }
}

.content {
    display: flex;
    justify-content: space-around;
    margin: 1rem 0 0 -2rem;
}

.phone-img {
    overflow: hidden;
}

.content-text {
    display: flex;
    flex-direction: column;
    width: 30%;
    color: #fff;
    margin-top: 1rem;
}

%title {
    color: #008ed6;
    margin: 0 0 2rem -0.1rem;
    font-size: 18px;
}

.content-text .title {
    @extend %title;
}

.content-text .title-text {
    font-size: 40px;
    line-height: 1em;
    margin-bottom: 2rem;
}

.content-text .text {
    color: gray;
    font-size: 18px;
    margin-bottom: 6rem;
}

%button {
    background-color: transparent;
    border: 2px solid #3e3f45;
    margin: 0 0.5rem 0 0;
    height: auto; 
}

%button_hover {
    background-color: #008ed6;
    border: 2px solid #008ed6;
    transition: all 0.4s ease;
}

.buttons button {
    @extend %button;
}

.buttons button a {
    display: block;
    align-content: center;
    height: 50px;
    width: 200px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 900;
    color: #fff;
}

.buttons button:hover {
    @extend %button_hover;
}

.buttons button:active {
    background-color: #008ed6;
    border: 2px solid #008ed6;
    transition: all 0.03s ease;
}

@media (max-width: 940px) {
    .content {
        display: block;
        padding: 0;
        margin: 0;
    }

    .content-text {
        display: block;
        width: 100%;
        padding: 0 0 0 2rem;
    }

    .content-text .title, .content-text .title-text {
        margin-bottom: 0.5rem;
    }

    .content-text .text {
        margin-bottom: 2rem;
    }

    .buttons {
        margin-bottom: 1rem;
    }

    .phone-img {
        display: none;
    }

}

@media (max-width: 768px) {
    .content-text {
        padding: 0 1rem;
    }

    .menu {
        padding: 0 1rem;
    }
}

.main {
    width: 100%;
}

.features {
    width: 100%;
}

.main .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    line-height: 3rem;
}

.main .title-in {
    font-size: small;
    color: #008ed6;
    word-spacing: 0.3rem;
}

.main .title-title {
    font-size: 32px;
}

.features-content {
    display: grid;
    grid-template-columns: repeat(4, minmax(300px, 1fr));
    grid-gap: 30px 0;
    margin: 0 15rem;
    justify-content: center;
}

@media (max-width: 1300px) {
    .features-content {
        grid-template-columns: repeat(2, minmax(300px, 1fr));
    }
}

@media (max-width: 850px) {
    .features-content {
        grid-template-columns: repeat(1, minmax(300px, 1fr));
        
    }
}

@media (max-width: 600px) {
    .container {
        margin: 0 !important;
    }

    .features-content {
        margin: 0 5rem;
    }
}

@media (max-width: 500px) {
    .menu {
        padding: 0 !important;
    }

    .content-text {
        padding: 0;
    }
}

.features-content .features-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.features-content .img-block {
    height: 90px;
    width: 90px;
    border: 1.5px solid #e5e5e5;
    border-radius: 50%;
    text-align: center;
    align-content: center;
}

.features-in:hover > .img-block {
    border: 1.5px solid #008ed6;
    transition: all 0.5s ease;
}

.features-content label {
    margin: 1.5rem 0 1rem;
    letter-spacing: 0.1rem;
    font-size: 30px;
}

.features-content .content-in {
    text-align: center;
    font-size: 16px;
    color: #b4b4b4;
}

.features hr {
    width: 100%;
    margin-top: 7rem;
}

%details {
    margin-top: 5rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-left: -10rem;
}

.details {
    @extend %details;
}

.details-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 25%;
    margin-left: 5rem;
    .title {
        margin: 0;
        @extend %title;
        margin: 1rem 0 -1rem;
        font-size: 14px;
    }
    >img {
        margin: 1rem 0 1rem;
    }
    .details-content {
        color: gray;
    }
}

.items {
    margin-top: 1.5rem;
    line-height: 2rem;
    .item {
        >span {
            margin-left: 1rem;
            color: #3e3f45;
        }
        &.item2 {
            margin-left: 0.2rem;
            >span {
                margin-left: 1.2rem;
            }
        }
    }
}

.details1 {
    @extend %details;
    padding-left: 13rem;
    margin-top: .4em;
    background-color: #f5f7f9;
    .details-text {
        margin-left: 0;
    }
}

@media (max-width: 980px) {
    .details, .details1 {
        margin-left: 0;
    }

    .details {
        >img {
            display: none;
        }
        .details-text {
            margin: 0 1.5rem 0 1.5rem;
            width: 100%;
            align-items: center;
        }
    }
    .details1 {
        >img {
            display: none;
        }
        padding: 0;
        .details-text {
            width: 100%;
            margin: 0 1.5rem 0 1.5rem;
            align-items: center;
        }
    }    
}

.slider {
    background: url(/img/background_slick.png);
    background-size: cover;
    height: fit-content;
    padding: 2rem 0 0;
    margin: 0 auto;
}

.slider-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.A {
    @extend %title;
    margin: 0 0 .5rem 0;
    font-size: 12px;    
}

.B {
    color: #fff;
    font-size: 32px;
    margin: 0 0 .5rem 0;
}

.C {
    margin: .5rem 0 4rem 0;
}

.swiper {
    width: 85%;
    height: max-content;
}

.swiper-slide {
    display: flex !important;
}

.content2 {
    padding-left: .5rem;
}

.content1, .content2 {
    width: 50%;
}

.img-content {
    margin-top: 1rem;
}

.author-lego {
    margin-right: .5rem;
}

.author-lego, .author {
    color: #fff;
    font-size: 18px;
    font-style: italic;
}

.img-content {
    display: flex;
    align-items: center;
}

.img-name {
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
    color: #fff;
}

.A1 {
    font-style: italic;
    font-size: 12px;
}

.A2 {
    font-size: 14px;
}

.swiper-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative !important;
    bottom: unset !important;
    padding: 1.5rem 0 2rem;
}

.swiper-pagination-bullet {
    opacity: unset !important;
    border: .5px solid #b4b4b4;
    transition: all 0.3s ease-in-out;
}

.swiper-pagination-bullet-active {
    width: 15px !important;
    height: 15px !important;
    background-color: #fff !important;
}

.slider-after {
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: #000;
    height: 100px;
    & .text-after {
        color: #fff;
        font-size: 28px;
        >span {
            font-family: serif;
        }
        & .text {
            font-weight: 900;
        }
    }
}

.after-buttons button {
    @extend %button;
    height: 45px;
    & a {
        text-decoration: none;
        color: #fff;
        padding: 1rem;
    }
    &:hover {
        @extend %button_hover;
    }
}

@media (max-width: 450px) {
    .slider-after {
        height: 170px;
        .text-after {
            font-size: 20px;
        }
    }

    .after-buttons {
        button {
            a {
                padding: 0;
            }    
        }
    }
}

@media (max-width: 415px) {
    .after-buttons {
        button {
            
            a {
                font-size: 12px;
            }
        }
    }
}